# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [11]:
# import numpy and pandas
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [14]:
# Your code here:
"""driver = 'mysql+pymysql'
ip = '34.65.10.136'
username = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
db = 'employees'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'

engine = create_engine(connection_string)
query = 'SELECT * FROM employees_advanced'
employees_adv = pd.read_sql(query,engine)
employees_adv"""

driver = 'mysql+pymysql'
ip = '127.0.0.1'
username = 'root'
password = 's2msung2'
db = 'employees'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'

engine = create_engine(connection_string)
query = 'SELECT * FROM employees_advanced'
employees_adv = pd.read_sql(query,engine)

Examine the `salaries` dataset using the `head` function below.

In [15]:
# Your code here:
employees_adv.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [16]:
# Your code here:
employees_adv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
Name                 33183 non-null object
Job Titles           33183 non-null object
Department           33183 non-null object
Full or Part-Time    33183 non-null object
Salary or Hourly     33183 non-null object
Typical Hours        8022 non-null float64
Annual Salary        25161 non-null float64
Hourly Rate          8022 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [17]:
# Your code here:
employees_adv['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [18]:
# Your code here:
dept = employees_adv['Job Titles'].value_counts()
dept
#employees_adv.groupby('Department')['Annual Salary'].mean().sort_values(ascending=False)

POLICE OFFICER                            9520
FIREFIGHTER-EMT                           1473
SERGEANT                                  1202
POOL MOTOR TRUCK DRIVER                   1055
POLICE OFFICER (ASSIGNED AS DETECTIVE)     989
                                          ...
HEALTH AND SAFETY ANALYST                    1
INFECTION PREVENTION SPECIALIST              1
CHIEF RESILIENCY OFFICER                     1
SECRETARY OF COMMITTEE ON FINANCE            1
SENIOR SYSTEMS PROGRAMMER                    1
Name: Job Titles, Length: 1111, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [57]:
# Your code here:
from scipy.stats import ttest_1samp
from scipy.stats import t

In [58]:
# Your code here:
ttest_1samp(employees_adv['Hourly Rate'], 30)

Ttest_1sampResult(statistic=nan, pvalue=nan)

In [59]:
hourly = employees_adv['Hourly Rate'].dropna().reset_index(drop=True)

In [60]:
t, prob = ttest_1samp(hourly, 30)

In [61]:
print(f'T-stat: {t}')
print(f'Probability (p-value): {prob}')

T-stat: 20.6198057854942
Probability (p-value): 4.3230240486229894e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [62]:
police_annual = employees_adv[employees_adv['Department']=='POLICE']['Annual Salary'].dropna().reset_index(drop=True)
t, prob = ttest_1samp(police_annual, 86000)
print(f'T-stat: {t}')
print(f'Probability (p-value): {prob/2}')
#If t-test is higher than 1.95 we reject the hypothesis

T-stat: 3.081997005712994
Probability (p-value): 0.0010301701775482569

Using the `crosstab` function, find the department that has the most hourly workers.

In [63]:
employees_adv.head(2)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN

In [64]:
# Your code here:
hourly_paid = employees_adv[employees_adv['Salary or Hourly']=='Hourly'].reset_index(drop=True)
cross_hourly = pd.crosstab(hourly_paid.Department, hourly_paid['Salary or Hourly'])
cross_hourly.sort_values(by='Hourly', ascending= False).head(3)

Salary or Hourly  Hourly
Department
STREETS & SAN       1862
WATER MGMNT         1513
OEMC                1273

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [65]:
# Your code here:
hourly_sss = hourly_paid['Hourly Rate']
t, prob = ttest_1samp(hourly_sss, 35)
print(f'T-stat: {t}')
print(f'Probability (p-value): {prob}')

T-stat: -16.352363851001144
Probability (p-value): 3.7636889298508017e-59

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [87]:
from scipy import stats
from scipy.stats import t

In [88]:
hourly_mean = hourly_paid['Typical Hours'].mean()
hourly_mean

34.50760408875592

In [89]:
stan_error = stats.sem(hourly_paid['Typical Hours'])
stan_error

0.10329942528724546

In [90]:
# Your code here: test.astype(np.float64)
conf_int = t.interval(0.95, 8021, loc=34.50760408875592, scale=0.10329942528724546)
conf_int

(34.30511037945295, 34.71009779805889)

In [40]:
hourly_paid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8022 entries, 0 to 8021
Data columns (total 8 columns):
Name                 8022 non-null object
Job Titles           8022 non-null object
Department           8022 non-null object
Full or Part-Time    8022 non-null object
Salary or Hourly     8022 non-null object
Typical Hours        8022 non-null float64
Annual Salary        0 non-null float64
Hourly Rate          8022 non-null float64
dtypes: float64(3), object(5)
memory usage: 501.5+ KB

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [ ]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: